<div class="flashcard-top">
	<div class="pull-right">
		<%= button_to "Delete",
				subject_flashcard_url(@flashcard.subject_id, @flashcard),
				method: :delete, class: "btn btn-danger",
				data: { confirm: "Are you sure?" }
		%>
	</div>
	<div class="pull-right">
		<%= button_to "Edit", edit_subject_flashcard_url,
		method: :get, class: "btn btn-default" %>
	</div>
	<div class="pull-left">
		<%= button_to "Back to " + @flashcard.subject.name, subject_url(@flashcard.subject_id),
		method: :get, class: "btn btn-default" %>
	</div>
</div>

<pre><strong><%= @flashcard.question %></strong></pre>
<a href="#" class="btn btn-default answersToggle" style="width: 100%">answer</a>
<div class="answers hidden">
	<pre><%= @flashcard.answer %></pre>
</div>

<div class="flashcard-bottom">
	<div class="pull-left">
		<% unless @flashcard.prev.nil? %>
			<%= link_to "Prev Card", subject_flashcard_url(@flashcard.subject_id,
					@flashcard.prev), class: "btn btn-success" %>
		<% end %>
	</div>

	<div class="pull-right">
		<% unless @flashcard.next.nil? %>
			<%= link_to "Next Card", subject_flashcard_url(@flashcard.subject_id,
					@flashcard.next), class: "btn btn-success" %>
		<% end %>
	</div>
</div>


<script>
(function ($) {
	$(function() {
		$('.answersToggle').click(function(){
			$(this).next().toggleClass('hidden');
		});
	});
})(window.jQuery);
</script>
