<h3><%= @subject.name %></h3>

<table>
  <% @flashcards.each do |flashcard| %>
  <tr>
    <td>
      <%= link_to "&times;".html_safe, subject_flashcard_url(flashcard.subject_id, flashcard),
      method: :delete, class: "close delete_flashcard", data: { confirm: "Are you sure?" } %>
    </td>

    <td>
      <%= link_to flashcard.question, subject_flashcard_url(@subject, flashcard) %>
      <br>
      <div class="answers hidden">
        <pre><%= flashcard.answer %></pre>
      </div>
    </td>
    <td>

    <a href="#" class="btn btn-default answersToggle">answer</a>

    </td>
  </tr>
  <% end %>
</table>

<br>

<%= button_to "Create a New Flashcard", new_subject_flashcard_url(@subject),
method: :get, class: 'btn btn-primary' %>

<script>
(function ($) {
  $(function() {
    $('.answersToggle').click(function(){
      $(this).parent().prev().find(".answers").toggleClass('hidden');
    });
  });
})(window.jQuery);
</script>
