<h3><%= @subject.name %></h3>

<table>
  <% @flashcards.each do |flashcard| %>
  <tr>
    <td>
      <%= link_to "&times;".html_safe, subject_flashcard_url(flashcard.subject_id, flashcard),
      method: :delete, class: "close delete_flashcard", data: { confirm: "Are you sure?" } %>

    <td>
      <%= link_to flashcard.question, subject_flashcard_url(@subject, flashcard) %>
    </td>
    <td>
      <%= link_to flashcard.answer, subject_flashcard_url(@subject, flashcard) %>
    </td>
  </tr>
  <% end %>
</table>

<br>

<%= button_to "Create a New Flashcard", new_subject_flashcard_url(@subject),
method: :get, class: 'btn btn-primary' %>
