<header class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <a id="logo" href="<%= root_url %>">
      <span style="color: steelblue">Flash</span><span>Cards</span>
    </a>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <% if current_user %>
          <li><%= link_to "Subjects", subjects_url %></li>
          <li><%= link_to "Account", user_url %></li>
          <li><%= link_to "Logout", session_url, method: :delete %></li>
        <% else %>
          <li><%= link_to "Create An Account", new_user_url %></li>
          <li><%= link_to "Login", new_session_url %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
